<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-08-02T13:03:18Z</date>
	<key>WorkspacePath</key>
	<string>/Users/pesimov/Documents/FMI/Computer Vision Object Detection/project_wavelet/wavelet_dwt_full/wavelet_dwt_full.xcodeproj</string>
</dict>
</plist>
